$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;

section {
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
}

.carousel {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel img {
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 12 / 5;
    object-fit: cover;
    scroll-snap-align: start;

    @media (max-width: $mobile-breakpoint) {
        aspect-ratio: 2 / 1;
    }
}

.btn-group {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    
    display: flex;
    gap: 0.5rem;
    align-items: center;
    :nth-child(3) { margin-left: -0.25rem; }

    @media (max-width: $mobile-breakpoint) {
       display: none;
   }
}

.btn-group button {
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;

    display: grid;
    place-items: center;

    background-color: #25335D;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    img {
        width: 2rem;
        object-fit: contain;
    }

    &:nth-child(1) img { rotate: 180deg; }

    &:hover {
        background-color: lighten(#25335D, 10%);
    }

   &:disabled {
        background-color: #E7E7E7;
        cursor: not-allowed;
        img { filter: brightness(0); }
   }

   &:disabled:hover {
        background-color: #E7E7E7;
   }
}

.small-circle {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #E7E7E7;
}
