<section>
    <div class="carousel" #carouselRef (scroll)="onScroll()">
        @for (url of slideUrls; track url) {
            <img src="{{ url }}"/>
        }
    </div>

    <div class="btn-group">
        <button class="left-btn" (click)="scrollLeft()" [disabled]="isLeftScrollDisabled"><img src="../../../../../assets/icons/arrow-right.png" alt="arrow-right"/></button>
        <div class="small-circle"></div>
        <div class="small-circle"></div>
        <button class="right-btn" (click)="scrollRight()" [disabled]="isRightScrollDisabled"><img src="../../../../../assets/icons/arrow-right.png" alt="arrow-right"/></button>
    </div>
</section>