<footer>
  <a
    class="footer-item"
    href="https://www.instagram.com/nass_elizadeuniversity"
    target="_blank"
  >
    <img src="../../../../../assets/icons/instagram.png" alt="instagram" />
    <span>&#64;nass_elizadeuniversity</span>
  </a>

  <a class="footer-item" href="mailto:nass@elizadeuniversity.edu.ng">
    <img src="../../../../../assets/icons/email.png" alt="email" />
    <span>nass&#64;elizadeuniversity.edu.ng</span>
  </a>

  <div class="footer-item">
    <img src="../../../../../assets/icons/location.png" alt="location" />
    <span>Ilara-Mokin, Ondo State, Nigeria</span>
  </div>
</footer>
