<div class="background-blur">
    <div class="modal">
        <h3 class="form-title">Verify your account</h3>
        <p class="form-subtitle">Please email a photo of your <strong>student ID card</strong> to <a href="mailto:nass@elizadeuniversity.edu.ng">nass&#64;elizadeuniversity.edu.ng</a></p>
        <p class="form-subtitle">Set the email title to <em>"Verifying Account"</em></p>
        <button class="close-btn" title="close" (click)="hideEvent.emit()">
            <img src="../../../../../assets/icons/close.png" alt="close"/>
        </button>
    </div>
</div>