<div class="page">
    <div class="sub-page">
        <h2 class="title">Goal</h2>
        <goal-section class="left-padding"/>
    </div>

    <div class="sub-page" id="join">
        <h2 class="title">Join</h2>
        <registration-form class="center"/>
    </div>

    <div class="sub-page">
        <h2 class="title">Forms</h2>
        <h3 class="subtitle left-padding">NASS Provide Digital Forms That Are Valuable</h3>
        <forms-slider class="left-padding slider"/>
    </div>

    <div class="sub-page">
        <h2 class="title">Suggestion</h2>
        <suggestion-form class="center"/>
    </div>

    <vote-banner/>
</div>