<div class="page">
    <div class="hero-section">
        <div class="text-row">
            <h2 class="form-title">We Create a platform for science students.</h2>
            <p class="form-subtitle">Nigerian Association of Science students (NASS) is the umbrella body for student in departments of Bio-Chemistry, Botany, Industrial/Pure Chemistry, Computer Science, Geo-physics, Mathematics, Statistics, Microbiology, Physics, Zoology, and other departments under the Faculty of Science, in all higher institution of Nigeria.</p>
        </div>
        <hero-carousel/>
    </div>

    <div class="sub-page">
        <h2 class="title">Goal</h2>
        <goal-section class="left-padding"/>
    </div>

    <div class="sub-page">
        <h2 class="title">Join</h2>
        <registration-form class="center"/>
    </div>

    <div class="sub-page">
        <h2 class="title">Events</h2>
        <h3 class="form-title left-padding">Engage In Dynamic Events To Ignite Your Curiosity</h3>
        <events-slider class="left-padding slider"/>
    </div>

    <div class="sub-page">
        <h2 class="title">Forms</h2>
        <h3 class="form-title left-padding">NASS Provide Digital Forms That Are Valuable</h3>
        <forms-slider class="left-padding slider"/>
    </div>

    <div class="sub-page">
        <h2 class="title">Suggestion</h2>
        <suggestion-form class="center"/>
    </div>

    <vote-banner/>
</div>