@import url("../shared/ui/forms.scss");

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;

.page {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

    vote-banner { padding-top: 4rem; }

    app-navbar {
        position: fixed;
        left: 2rem;
        z-index: 100;
        width: calc(100% - 4rem);
    }

    @media (max-width: $tablet-breakpoint) {
        padding: 0 1rem;
        app-navbar {
            left: 1rem;
            width: calc(100% - 2rem);
        }
    }
}

.sub-page {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 6rem;
    .left-padding { padding-left: 3.25rem; }

    .center {
        width: 25rem;
        align-self: center;
    }

    .slider {
        overflow: hidden;
        width: calc(100% - 3.25rem);
    }

    @media (max-width: $tablet-breakpoint) {
        .left-padding { padding-left: 0; }
        .slider { width: 100%; }
    }

    @media (max-width: $mobile-breakpoint) {
        .center { width: 100%; }
        .slider { width: calc(100% + 1rem); }
    }
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;

    padding: 0.75rem 1.5rem;
    border-radius: 100vw;
    background-color: #E7B012;
}

.hero-section {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    margin-top: 5rem;

    .text-row {
        display: flex;
        justify-content: space-between;

        .form-title {
            width: 30%;
            text-wrap: balance;
        }

        .form-subtitle { width: 65%; }
    }

    @media (max-width: $tablet-breakpoint) {
        .text-row .form-title { width: 45%; }
        .form-subtitle { width: 50%; }
    }

    @media (max-width: $mobile-breakpoint) {
        .text-row {
            flex-direction: column;
            justify-content: unset;
            gap: 1rem;

            .form-title { width: 100%; }
            .form-subtitle { width: 100%; }
        }
    }
}