<div class="page">
  <app-navbar />

  <div class="hero-section">
    <div class="text-row">
      <h2 class="form-title">We Create a platform for science students.</h2>
      <p class="form-subtitle">
        The National Association of Science Students, Elizade University Chapter
        is the umbrella body for students in the Faculty of Basic and Applied
        Sciences. The Faculty is divided into 3 departments: Mathematics and
        Computer Science (Computer Science and Cybersecurity), Physical and
        Chemical Sciences (Applied Geophysics, Biochemistry, and Physics
        Electronics), and Biological Sciences (Biotechnology and Environmental
        Management and Toxicology (EMT))
      </p>
    </div>
    <hero-carousel />
  </div>

  <div class="sub-page">
    <h2 class="title">Goal</h2>
    <goal-section class="left-padding" />
  </div>

  <div class="sub-page" id="join">
    <h2 class="title">Join</h2>
    <registration-form class="center" />
  </div>

  <div class="sub-page" id="events">
    <h2 class="title">Events</h2>
    <h3 class="form-title left-padding">
      Engage In Dynamic Events To Ignite Your Curiosity
    </h3>
    <events-slider class="left-padding slider" />
  </div>

  <div class="sub-page" id="forms">
    <h2 class="title">Forms</h2>
    <h3 class="form-title left-padding">
      NASS Provide Digital Forms That Are Valuable
    </h3>
    <news-slider class="left-padding slider" />
  </div>

  <div class="sub-page" id="suggestion">
    <h2 class="title">Suggestion</h2>
    <suggestion-form class="center" />
  </div>

  <vote-banner id="vote" />

  <app-footer />
</div>
