<section>
    <p class="text">We are dedicated to provide to all the science students in universities in Nigeria with practical trainings, award winning, professional certificate and 24/7 support.</p>

    <div class="img-flex">
        <div class="img-circle">
            <img src="../../../../../assets/logos/nass-eu.png" alt="NASS logo">
        </div>

        <div class="img-circle">
            <img src="../../../../../assets/logos/eu.png" alt="EU logo" id="eu">
        </div>
    </div>
</section>