<section>
  <p class="text">
    We are dedicated to equipping Elizade University science students with
    practical skills and fostering their career development, all while creating
    a memorable and enriching experience.
  </p>

  <div class="img-flex">
    <div class="img-circle">
      <img src="../../../../../assets/logos/nass-eu.png" alt="NASS logo" />
    </div>

    <div class="img-circle">
      <img src="../../../../../assets/logos/eu.png" alt="EU logo" id="eu" />
    </div>
  </div>
</section>
