$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;

section {
  position: relative;
  min-height: 8rem;
  border-radius: 0.75rem;
  aspect-ratio: 1440 / 500;
  animation: skeleton-loading 1s linear infinite alternate;

  @media (max-width: $mobile-breakpoint) {
    min-height: 4rem;
    margin-bottom: 4rem;
    aspect-ratio: 640 / 500;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.desktop-img,
.mobile-img {
  width: 100%;
  object-fit: contain;
  border-radius: 0.75rem;
}

.desktop-img {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.mobile-img {
  display: none;
  @media (max-width: $mobile-breakpoint) {
    display: block;
  }
}

.join-btn {
  text-decoration: none;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  display: flex;
  align-items: center;

  border: none;
  border-radius: 0.75rem;
  padding: 0.95rem 0.75rem;
  background-color: #25335d;

  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  span {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
  }

  img {
    width: 1.5rem;
    object-fit: contain;
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: lighten(#25335d, 10%);
  }

  @media (max-width: $mobile-breakpoint) {
    bottom: -4rem;
    right: 0;
    &:hover {
      background-color: #25335d;
    }
  }
}
