@import url("../../../shared/ui/forms.scss");

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;

form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    :nth-child(3){ margin-top: 1rem; }
    .form-btn { margin-top: 1.5rem; }
}
