$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;

.nav-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 1rem 0 0.5rem 0;

    @media (max-width: $mobile-breakpoint) {
        display: none;
    }
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;

    img {
        height: 3rem;
        object-fit: contain;
    }

    span {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        color: #25335D;
        margin: 0;
    }
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-item {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    opacity: 0.5;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

.nav-item-btn {
    text-decoration: none;

    display: flex;
    align-items: center;

    border: none;
    border-radius: 0.75rem;
    padding: 0.95rem 0.75rem;
    background-color: #25335D;

    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    span {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #FFFFFF;
        margin: 0;
    }

    img {
        width: 1.5rem;
        object-fit: contain;
        transform: rotate(-45deg);
    }

    &:hover {
        background-color: lighten(#25335D, 10%);
    }

    @media (max-width: $mobile-breakpoint) {
        &:hover {
            background-color: #25335D;
        }
    }
}


/**********************************/

.nav-mobile {
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 1rem 0 0.5rem 0;

    position: relative;
    // visibility: hidden;

    @media (max-width: $mobile-breakpoint) {
        // visibility: visible;
        display: flex;
    }
}

.nav-list-mobile {
    position: absolute;
    top: calc(100% - 0.15rem);
    left: -1rem;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #FFFFFF;
   
    height: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &.open {
        opacity: 1;
        padding: 1rem 0;
        height: calc(50vh - 4rem);
    }
    
}

.nav-toggle-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    img {
        height: 3rem;
        object-fit: contain;
    }
}

.nav-mobile .nav-item {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.nav-mobile .nav-item-btn {
    font-size: 1.5rem;
    margin-left: 1rem;
}

