<nav>
    <a class="logo" href="#">
        <img src="../../../../../assets/logos/nass.png" alt="NASS Logo"/>
        <span>in Elizade University</span>
    </a>
   

    <div class="nav-list">
        <a class="nav-item" href="#events">Events</a>
        <a class="nav-item" href="#forms">Forms</a>
        <a class="nav-item" href="#suggestion">Suggestion</a>
        <a class="nav-item" href="#vote">Vote</a>
        <a class="nav-item-btn" href="#join">
            <span>Join for FREE</span>
            <img src="../../../../../assets/icons/arrow-right.png" alt="arrow-right"/>
        </a>
    </div>
</nav>